* {
    font-family: 'DepartureMono Nerd Font';
    font-size: 12px;
    font-weight: bold;
    border-radius: 25px;
}

window#waybar {
    background-color: rgba(152, 128, 152, 0.177) ;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border: 2px solid rgb(193, 165, 225);
    margin-top: 10px;
}
.modules-left{
    margin: 5px 0 0 0;
}
.modules-right{
    margin: 0 0 5px 0;
}

#time {
    color: #d3c6aa;
    min-width: 10px;
    padding: 5px 0 5px 1px;
    border: 2px solid rgb(193, 165, 225);
    background-color: rgba(232, 227, 252, 0.245);
    margin: 0 5px;
}

#pulseaudio-slider{
    min-height: 100px;
}
#pipewire,
#hardware,
#notifications{
    color: #d3c6aa;
    min-width: 25px;
    min-height: 40px;
    border: 2px solid rgb(193, 165, 225);
    background-color: rgba(232, 227, 252, 0.245);
    margin: 0 5px 0 5px;
}
#pulseaudio{
    color: #d3c6aa;
    min-width: 35px;
    min-height: 40px;
    padding: 7px 0 0 1px;
    margin-top: -5px;
}
#pulseaudio:hover{
background-color: rgba(232, 227, 252, 0.11);
}
#tray > .needs-attention {
    border: 2px solid #d3c6aa;
}


/* ============================== */
#network,
#memory{
    min-height: 40px;
}
#time,
#custom-apps,
#workspaces{
    border: 2px solid rgb(193, 165, 225);
    min-height: 40px;
    min-width: 35px;
    background-color: rgba(167, 167, 167, 0.245);
    margin: 0 5px;
    /*padding: 5px 0 5px 0;*/
}
#tray:hover,
#time:hover,
#custom-apps:hover,
#custom-notification:hover{
    background-color:rgba(99, 99, 99, 0.245);
}

#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background: rgb(242, 255, 242);
}
#custom-notification,
#custom-apps,
#network{
    min-height: 41px;
    min-width: 31px;
}
.drawwire,
.drawhard{
    color: #d3c6aa;
    min-width: 35px;
    min-height: 40px;
    padding: 0 0 0 0;
    margin-top: -5px;
}
#workspaces button{
    background-color: rgba(152, 199, 206, 0.088);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#workspaces button.active{
    background-color: rgba(152, 199, 206, 0.341);
    min-height: 60px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#tray{
    padding: 10px 0 0 1px;
}
#custom-power{
    margin: -5px 0 0 -1px;
    font-size: 25;
}
#custom-notification{
    margin: 0 0 0 -2px;
}
#memory{
    padding: 2px 0 0 0;
}
#custom-apps{
    padding: 1px 3px 0 0;
    font-size: 19;
}
#window{
    background-image: linear-gradient(to bottom, rgba(26, 21, 21, 0), rgba(26, 21, 21, 0.713), rgba(26, 21, 21, 0));
    margin: 0 5px 0 5px;
    padding: 5px 0 5px 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

}